.App {
	text-align: center;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	display: block;
	margin: auto;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	color: inherit;
}

/* Main */
.main-visual {
	background-image: url("../src/img/shoes.jpg");
	background-size: cover;
	background-position: center;
	color: white;
	padding: 20px 30px;
	min-height: 300px;
}

.main-visual h2 {
	margin: 30px 0;
}

.main-visual button {
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	background: red;
	color: white;
	font-weight: bold;
	font-size: 14px;
}

.main-visual button:hover {
	color: red;
	background: white;
	transition: all 0.5s;
	transform: scale(1.05);
}

/* Grid */
.grid img {
	width: 100%;
}
