.App {
	text-align: center;
}

body {
	font-family: "nanumsquare";
}

.veryperi-nav {
	background: #6667ab;
	width: 100%;
	display: flex;
	color: white;
	padding: 20px;
	font-weight: 600;
	font-size: 20px;
}

.list {
	margin-top: 30px;
	text-align: left;
	padding: 0 20px;
}

.list h3:hover {
	cursor: pointer;
}

.thumbs-up {
	margin-left: 10px;
	cursor: pointer;
}

.publish {
	margin: 20px 0;
}

.publish input {
	width: 80%;
	height: 25px;
	font-size: 18px;
	padding: 10px 15px;
	border-radius: 5px;
	border: 1px solid grey;
	background: #eee;
}

.publish input:focus {
	outline: none;
}

.publish button {
	padding: 13px 30px;
}

.publish button:hover {
	background: lightcoral;
	color: white;
	transition: all 0.5s;
	transform: scale(1.05);
}

button {
	background: gold;
	border: none;
	padding: 5px 10px;
	margin: 10px;
	border-radius: 5px;
	font-size: 16px;
}

button:hover {
	background: #6667ab;
	color: white;
	cursor: pointer;
	transition: all 0.5s;
}

.modal {
	margin-top: 20px;
	padding: 20px;
	background-color: #eee;
}
