.App {
	text-align: center;
}

body {
	font-family: "nanumsquare";
}

.veryperi-nav {
	background: #6667ab;
	width: 100%;
	display: flex;
	color: white;
	padding: 20px;
	font-weight: 600;
	font-size: 20px;
}

.list {
	margin-top: 30px;
	text-align: left;
	padding: 0 20px;
}

.thumbs-up {
	margin-left: 10px;
	cursor: pointer;
}

button {
	background: gold;
	border: none;
	padding: 5px 10px;
	margin: 10px;
	border-radius: 5px;
	font-size: 16px;
}

button:hover {
	background: #6667ab;
	color: white;
	cursor: pointer;
}

.modal {
	margin-top: 20px;
	padding: 20px;
	background-color: #eee;
}
